:root {
    box-sizing: border-box;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
body {
    font-family: Arial, sans-serif;
    background: #f3f4f6;
    color: #172554;
}

.site-header {
    background: #172554;
    color: white;
    padding: 30px;
    text-align: center;
}

.site-header h1 {
    font-family: "Sixtyfour Convergence", sans-serif;
    margin-bottom: 25px;
}

.site-header nav {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.site-header a {
    color: white;
    text-decoration: none;
}

.site-header a:hover {
    color: #fbbf24;
}
.hero {
    padding: 100px 20px;
    text-align: center;
    background: white;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.btn:hover {
    background: #1d4ed8;
}

.about {
    padding: 60px 20px;
    text-align: center;
}

.about h2 {
    margin-bottom: 20px;
}